<a href="https://colab.research.google.com/github/OffPut/Test/blob/main/CFGdegree_Alternative_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. PANDAS (25 point)

In [5]:
# 1. Load the hotel_bookings.csv dataset as a Pandas dataframe:

import pandas as pd

pd.read_csv("hotel_bookings.csv")

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
# 2. Show the last 10 rows of the dataset

In [ ]:
# 3. How many rows and column does the dataset have?
# clearly display the results.

In [ ]:
# 4. Which columns have missing values?

In [ ]:
# 5. Find the columns where there are more than 100 values missing.
# Hint: you can sort the columns based on the sum of missing values

In [ ]:
# 6. Drop the columns where there are more than 100 values missing.

In [ ]:
# 7. Replace all other missing values with "Data absent"

In [ ]:
# 8. Rename all columns to start with a capital letter.

In [ ]:
# 9. Save the cleaned dataset as a new csv file.

2. MATPLOTLIB (25 points)

Use the hotels booking dataset to solve the exercises in this section.

In [ ]:
# 1. Create a visualisation which shows how many bookings were canceled as percentage
# Hint: use the is_canceled column where 1 means canceled and 0 means not canceled

In [ ]:
# 2. What is the meal that is most preferred by customers?
# Use a plot to answer this question.

3. NUMPY (25 points)

In [ ]:
import numpy as np

In [ ]:
# 1. Create a 1D array of length 20. Populate it with numbers between 0 and 100.

In [ ]:
# 2. How many even numbers do we have in the array?
# clearly display the count using a print statement.

In [ ]:
# 3. Find the highest and lowest values, and how many unique elements are
# in the below numpy array. Display each result clearly.
arr = np.array([2, 5, 10, 19, 5, 21, 5, 8, 19, 30])

In [ ]:
# 4. Reverse the above numpy array 'arr'

In [ ]:
# 5. Select the first 5 elements in the array 'arr' and multiply
# them with the last 5 elements

# Desired output:
  # > array([ 42,  25,  80, 361, 150])